html {
    overflow-y: scroll;
  }
  .intro {
      text-align: center;
      padding-top: 5vh;
      min-height:80vh;
      & h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0.5vh;
        line-height: 1;
        font-weight: 800;
      }
      & p {
        line-height: 1.5;
        font-size: 1.5rem;
      }
    }
    @media (min-width: 992px) { 
      .intro {
          text-align: left;
          padding-top: 10vh;
          padding-bottom:15vh;
      & h1 {
        font-size: 5rem;
      }
      & p {
        font-size: 2.5rem;
      }
      }
    }
    .avatar {
      border-radius: 50%;
    }
    .site-main {
  min-height: calc(90vh - 60px);
    }
    .entry-title {
      & h1 {
        font-size: 3.5rem;
      }
    }
    .cookie-consent {
      z-index: 9999;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0.9em;
      padding: 1em;
      background: $dark;
      text-align: center;
  }
  
  .cookie-consent__message {
      display: inline-block;
      color: $white;
  }
  
  .cookie-consent__message p {
      margin: 0;
  }
  
  .cookie-consent__agree {
      font-weight: bold;
      margin: 0 1em;
      padding: .5em 1em;
      color: $white;
      background-color: $primary;
      border: 0;
      border-radius: 3px;
      box-shadow: 0 2px 5px rgba($dark, 0.15);
  }
  
  .cookie-consent__agree:hover {
      background-color: rgba($primary, 0.8);
  }
  
  .cookie-consent__agree:active {
      top: 1px;
  }
  .navbar-nav {
    font-weight: $headings-font-weight;
  }
  sup {
    font-size: 0.65em;
  }