$blue:    #214154;
$orange: #DD645E;
$white: #ffffff;
$gray-600: #ced1d2;

$primary: $orange;
$secondary: $blue;
$enable-rounded: false;
$enable-deprecation-messages: false;

$headings-font-weight: 700;

$link-color:                              $orange;
$link-decoration:                         dashed;

$font-family-sans-serif:      "Inter", sans-serif;
$font-family-monospace:       monospace;

$navbar-dark-color:           $white;
$navbar-dark-hover-color:    darken($navbar-dark-color, 10%);
